@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Quantico font-weight are 400 and 700 , Merriweather font-weight are 300 , 400, 700, 900 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
}

:root{
--Main-font-family: "Merriweather", serif;
--Body-font-family: "Quantico", sans-serif;

--text-color:#000000;
--background-color:#CCB866;
}

h1,h2{
    font-family: var(--Main-font-family);
    font-weight: 900;
    text-transform: capitalize;
    letter-spacing: 1px;
}
h3,p{
    font-family: var(--Body-font-family);
    font-weight: 700;
    text-transform: capitalize;
}

abbr[title]{
    text-decoration: none;
}

main{
    width: 95%;
    margin: 50px auto;
}
h1{
    font-size: 4rem;
}

.header {
    display: flex;
    justify-content: center;
    align-items: stretch; /* Ensure both image and text take the same height */
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;

    /* Image styles */
    img{
        width: 30%; /* Allow the image to adjust its height */
        max-height: 100%; /* Ensure the image doesn't exceed the container's height */
        border-radius: 10px;
        object-fit: cover;
    }

    /* Text styles */
    .text{
        flex: 1; /* Let the text take the remaining space */
        font-size: 2rem;
        padding-left: 20px;
        /* Adjust padding for paragraphs */
        p{
            padding-bottom: 20px;
        }
        
        /* Remove bottom padding from the last paragraph */
        p:nth-last-child(1){
            padding-bottom: 0;
        }

    }
}



